@font-face {
  font-family: 'Sofia';
  src: url('/fonts/Sofia-Pro-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Sofia';
  src: url('/fonts/Sofia-Pro-Light.ttf') format('truetype');
  font-weight: light;
}
