@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ul {
  list-style: circle;
} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background: blue;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

.dark {
  background-color: #121212;
}

.light {
  background-color: #fff;
}

.link-color {
  color: #ff6062;
}

@font-face {
  font-family: "Sofia";
  src: url("../public/fonts/Sofia-Pro-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Sofia";
  src: url("../public/fonts/Sofia-Pro-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Sofia";
  src: url("../public/fonts/Sofia-Pro-Bold.ttf") format("truetype");
  font-weight: 700;
}

html {
  font-family: "Sofia", sans-serif;
}

h1 {
  font-family: "Sofia", sans-serif;
}

.font-primary {
  font-family: "Sofia", sans-serif;
}

.font-secondary {
  font-family: "Sofia", sans-serif;
}

.font-light-sofia {
  font-family: "Sofia";
  font-weight: 300;
}
.font-bold-sofia {
  font-family: "Sofia";
  font-weight: 700;
}

.slick-track {
  display: flex !important;
  /* margin-left: -10px; */
}

/* Reveal Text */

.reveal {
  overflow: hidden;
  line-height: 1;
}

.reveal span {
  display: block;
  animation: reveal 0.5s;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.container {
  max-width: 85rem;
}

a {
  font-size: 18px;
  font-family: "Sofia", "sans-serif";
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.relative:hover .slide-in {
  visibility: visible;
  animation: slideInFromRight 0.5s forwards;
}

.slide-in {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

/* LOOPING TEXT */
.marquee-section {
  position: relative;
  min-height: 30px;
}

.marquee-section,
.marquee-section * {
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
}

.loop-div-right {
  position: absolute;
  animation: move-left-to-right linear 50s infinite;
}

.loop-div-left {
  position: absolute;
  animation: move-right-to-left linear 50s infinite;
}

@keyframes move-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes move-left-to-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.full-width-element {
  margin-left: -40px;
  margin-right: -40px;
  width: calc(100% + 80px);
}

@media screen and (max-width: 800px) {
  .full-width-element {
    width: calc(100% + 22px);
    margin-left: -12px;
    margin-right: -12px;
  }
}

.no-padding-bottom {
  margin-bottom: -40px;
}

.reel-text-color {
  color: #25364f;
}

/* MENU MOBILE */

.menu-btn-6 {
  height: 32px;
  width: 40px;
  cursor: pointer;
  z-index: 99;
}

.menu-btn-6 span,
.menu-btn-6 span::before,
.menu-btn-6 span::after {
  background: #25364f;
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  margin-top: 7px;

  -webkit-transition: 0.3s ease-in-out 0.3s;
  -moz-transition: 0.3s ease-in-out 0.3s;
  -o-transition: 0.3s ease-in-out 0.3s;
  transition: 0.3s ease-in-out 0.3s;
}

.menu-btn-6 span::before {
  margin-top: -12px;

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-btn-6 span::after {
  margin-top: 12px;

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-btn-6.active span {
  background: transparent;

  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.menu-btn-6.active span::before {
  margin-top: 0;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.menu-btn-6.active span::after {
  margin-top: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.5s;
}

.line-clamp {
  overflow: hidden;
  display: block;
  font-size: 20px;
  line-height: 1.5rem;
  height: 4.5rem;
  font-weight: light;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #000;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
  height: 150px;
}

.service h3 {
  font: bold;
  font-size: 30px;
}
.service a {
  font-size: 20px;
  color: #ff6062;
  font-weight: bolder;
}

@media screen and (max-width: 900px) {
  .service a {
    font-size: 16px;
  }

  .service h3 {
    font: bolder;
    font-size: 22px;
  }
}

.arrow-hover:hover ~ .isHovered {
  border: 10px solid black;
}

.no-scroll {
  overflow: hidden;
}

.bullets ul {
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

h1,
h2 {
  color: #25364f;
}

.in_link p a {
  font-size: 25px !important;
  text-decoration: underline;
}

.text-render p {
  font-size: 20px;
}

.render-content ol {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

